<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.evin.apps.words">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/checklist_512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Put parse keys here -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="" />
        <!-- Put Google API keys here -->
        <meta-data
            android:name="GOOGLE_API_KEY"
            android:value="" />
        <meta-data
            android:name="GOOGLE_CUSTOM_SEARCH"
            android:value="" />
        <!-- Put fabric API key here-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="" />
    </application>

</manifest>
